/**
 * Button styles
 */


.button{
  margin-top:20px;
  padding:15px 20px;
  display: inline-block;
  text-decoration: none;
  font-size: $medium-font-size;
  color:$black;
  transition: all .2s ease-in;
  &.--white{
    background:$white;
  }
  &.--red{
    background: $red;
    color:$white;
  }
  &:hover{
    opacity: .9;
  }
}
