<header class="site-header --main">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="site-logo">
			<a href="{{ site.baseurl }}">
				<img src="{{ site.baseurl }}/images/writegood-logo.svg" alt="Writegood logo">
			</a>
			</div>
			<p class="header__description">Writegood is a storytelling app that helps charities and nonprofits share compelling stories about the people they work with.</p>
			<a href="https://docs.google.com/a/yoomee.com/forms/d/1W5qTqrSWNemVmmeJ58Cg0vC0DtvYwrd5V0R4jBUeuyY/edit?usp=sharing_eid&ts=5732ff6" class="button --white">Get involved</a>
			<a href="{{ site.baseurl }}/prototype" class="button --red">See the prototype</a>
		</div>
	</div>
</header>
