<header class="site-header --main">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="site-logo">
			<img src="{{ site.baseurl }}/images/writegood-logo.svg" alt="Writegood logo">
			</div>
			<p class="header__description">A tool for charities and social good organisations
			that helps guide you through the process of writing stories about the people you work with</p>
			<a href="" class="button --white">Get involved</a>
			<a href="" class="button --red">See the prototype</a>
		</div>
	</div>
</header>
