/**
 * Base styles
 */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

html, input {
  font-size: 112.5%; 
}

body {
  font-family: $body-font;
  @include font-size($base-font-size);
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: underline;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}
