/**
 * Font size variables
 */

$micro-font-size: 12+px;
$small-font-size: 14+px;
$base-font-size: 18+px;
$medium-font-size: 22+px;
$large-font-size: 32+px;
$x-large-font-size: 44+px;
$xx-large-font-size: 66+px;
